.container {
  width: 224.59px;
  height: 115px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
}

.container__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 30px 25px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -30px;
  right: 20px;
}

.container__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  font-size: 1.5em;
}

.container__logoutMenu {
  padding-right: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #d1d1d1;
}

.container__logoutMenu span {
  cursor: pointer;
}

.dNone {
  display: none;
}

.dFlex {
  display: flex;
}
