.container {
  width: 80%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
}

.container li {
  text-transform: capitalize;
  border: solid #766ed3 1.3px;
  background-color: #766ed3;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.container li:hover {
  text-decoration: line-through;
  cursor: pointer;
  color: red;
}
