@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");



.item{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    gap: 1em;
    
    &__name{
        font-weight: 600;
        font-size: .9em;
    }
   &__container{
      display: flex;
      gap: 1em;
      align-items: center;
     &__info{
        font-size: .8em;
        color:rgb(105, 103, 103);
        margin-right: 1em;
    }
   }
   
}

.active {
    background: #766ed3;
    border-radius: 10px;
    color: #ffffff;
}




.charInput {
    min-width:200px;
}

.save,
.pencil,
.remove {
    cursor: pointer;
    &:hover {
        color: #766ed3;
        font-size: 20px;
        transform:scale(1.2);
    }
    z-index: 10;
    font-size: 1.2em;
}

.dNone {
    display: none;
}

.dFlex {
    display: flex;
}



.remove:hover {
    cursor: pointer;
    font-size: 20px;
    color: rgb(192, 34, 34);
}
