.container {
  width: 80%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.container__sort {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.buttonActive {
  display: flex;
}
