.container {
  background: #ebecee;
  min-height: 100vh;
}

.container__field {
  margin-left: 100px;
}

.container__field__content {
  margin-top: 5em;
  flex-direction: column;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  margin-left: 20%;
  margin-right: 20%;
}
