.container {
  width: 22vw;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: #e7d3ff;
  margin-bottom: 3em;
  min-height: 20vh;
  border-radius: 40px;
}

.container__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  margin-left: 2em;
}

.container__col h1 {
  text-align: start;
  font-size: 1.5em;
}

.container__col__info {
  color: grey;
}

.container__col__price {
  font-size: 1.5em;
  font-weight: 1000;
}

.circular {
  position: relative;
  width: 100px;
  height: 50%;
}
